<html lang="en">
<body>
    <div class="logoContainer">
        <img class="logo" src="assets/fullLogo.svg" alt="logo">
    </div>
    <div class="container">
        <div class="formContainer">
            <div style="width: 100%;text-align: center; margin: 1rem 0rem 1rem 0rem"><span class="h3">Kreiranje lozinke</span></div>
            <form >
                <input class="inputField" type="number" id="password" name="password" placeholder="Lozinka" [(ngModel)]="password"><br>
                <input class="inputField" type="number" id="repeatPassword" name="repeatPassword" placeholder="Ponovi lozinku" [(ngModel)]="passwordRepeat"><br>
                <input class="myButtonPrimary" type="submit" value="Kreiraj nalog"><br>
            </form>
        </div>
    </div>
</body>
</html>