<div class="popup-container">
  <h2 class="popup-title">Pregled kupovine</h2>
  <p class="line"></p>
  <div class="popup-content">
    <form [formGroup]="groupForm">
      <div class="container" >
        <div class="row">
          <div class="col">
            <p class="bold">Unesite broj future-a:</p>
            <input
              type="number"
              class="inputField"
              formControlName="amount"
              min="1"
            />
            <span
              *ngIf="amount && amount.invalid && amount.touched"
              class="wrong-input-span"
            >
                Minimalan broj future-a je 1.</span>
          </div>
          <div class="col">

          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="text-center">
    <button class="myButtonPrimary" (click)="cancel()">Odustani</button>
    <button class="myButtonSecondary" (click)="confirm()">Potvrdi</button>
  </div>
</div>
