<div class="nav-bg">
  <div class="container">
      <div class="left">
        <div class="item">
          <img [routerLink]="isCompany ? '/company-home' : '/'" class="logo" src="../../assets/logo-full.svg" alt="logo">
        </div>
        <div class="item">
          <a *ngIf="!isEmployeeUser" [routerLink]="isCompany ? '/company-home' : '/'">Početna</a>
        </div>
        <div class="item">
          <a *ngIf="isEmployeeUser" [routerLink]="'/user-list'">Korisnici</a>
        </div>
        <div class="item">
          <a *ngIf="isEmployeeUser && !isCompany" [routerLink]="'/user-control'">Računi</a>
        </div>
        <div class="item">
          <a *ngIf="!isEmployeeUser && !isCompany" [routerLink]="'/card-view'">Kartice</a>
        </div>
        <div class="item">
          <a *ngIf="isEmployeeUser && !isCompany" [routerLink]="'/credit-list'">Zahtevi za kredit</a>
        </div>
        <div class="item">
          <!-- TODO  provera da li je kompanija, ako jeste da li je id === 1 -->
          <a *ngIf="!isEmployeeUser && ((!isCompany) || (isCompany && id !== 1))" [routerLink]="'/exchange'">Menjačnica</a>
        </div>
        <div class="item">
          <a *ngIf="!isEmployeeUser && ((!isCompany) || (isCompany && id == 1))" [routerLink]="'/profit-table'">Profit</a>
        </div>

        <div class="item">
          <a *ngIf="!isEmployeeUser && !isCompany" [routerLink]="'/payment'">Plaćanja</a>
        </div>
        <div class="item">
          <a *ngIf="!isEmployeeUser" [routerLink]="'/credit-list-user'">Krediti</a>
        </div>
        <div class="item">
          <a *ngIf="!isEmployeeUser" [routerLink]="isCompany ? '/otc-company' : '/otc'">OTC</a>
        </div>
        <div class="item">
          <a *ngIf="!isEmployeeUser && ((!isCompany) || (isCompany && id == 1))" [routerLink]="'/otc-banka4'">OTC Banka4</a>
        </div>
<!--        <div class="item">-->
<!--          <a *ngIf="!isEmployeeUser" [routerLink]="'/bankomat'">Bankomat</a>-->
<!--        </div>-->
        <div class="item">
          <a *ngIf="!isEmployeeUser && !isCompany" [routerLink]="'/payment-recipients'">Primaoci</a>
        </div>
        <div class="item">
          <a *ngIf="!isEmployeeUser && !isCompany" [routerLink]="'/bankomat'">Bankomat</a>
        </div>
        <div class="item">
          <a [routerLink]="'/listing-list'">Berza</a>
        </div>
        <div class="item">
          <a [routerLink]="'/my-listings'">Moje hartije</a>
        </div>
        <div class="item">
          <a *ngIf="isEmployeeUser && !isCompany" [routerLink]="'/supervisor-listing'">Lista agenata</a>
        </div>
      </div>
      <div class="right">
        <div class="divider">
        </div>
        <!-- <div *ngIf="!isEmployeeUser" class="profile"> -->
        <!--   <button (click)="userProfile()" class="btn" type="button"> -->
        <!--       <svg class="user" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> -->
        <!--         <path d="M5 21C5 17.134 8.13401 14 12 14C15.866 14 19 17.134 19 21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> -->
        <!--       </svg> -->
        <!--     Profil -->
        <!--   </button> -->
        <!-- </div> -->
        <div class="current-user">
          {{email}}
        </div>
        <div class="logout">
          <button (click)="logout()" class="log" type="button">
            Odjavi se
          </button>
        </div>

      </div>
  </div>
</div>
