.line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px; 
    padding-bottom: 5px; 
}

.bold {
    font-weight: bold;
}

.lighter {
    color: #b9b9b9; 
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.button-container button {
    margin-right: 0.5rem;
    margin-left: 0rem;
}

body{
    background-color: var(--background-main);
}

.blueText{
    color:var(--blue-medium)
}
.myContainer{
    max-width: 52rem;
    margin:auto;
}