.nav-bg{
  background: var(--blue-dark);
}

.nav-bg{
  height: 5rem;
}

.logo{
  height: 4rem;
}

.container{
  display: flex;
  margin: auto 0.5rem;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-screen-width);
  margin: auto;
}
.container div{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 1.5rem;
  font-weight: 400;
  color: var(--white-text);
  transition: all 200ms ease-in-out;
}

a:hover{
  color: var(--color-secondary);
  animation: 0.5s all ease-in-out;
}


.btn{
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--white-text);
  padding: 0.4rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  color: var(--white-text);
  background-color: transparent;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.log{
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--white-text);
  padding: 0.4rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  color: var(--white-text);
  background-color: var(--blue-light);
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.btn:hover{
  background-color: var(--blue-light);
  border: 1px solid var(--blue-light);
  color: var(--blue-dark);
}
.user{
  height: 1rem;
  width: 1rem;
  margin-right: 0.2rem;

}

.btn:hover > .user path{
  stroke: var(--blue-dark);
  height: 1rem;
  width: 1rem;
  transition: all ease-in-out 200ms;
}

.divider{
  border-right: 1px solid #fff;
  height: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

