@media (max-width: 48rem) { /* 768px */

}


.container {
  height: 24rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#naslov{
  padding-bottom: 4rem;
}

#sifra{
  margin-bottom: 4rem;
  text-align: center;
  height: 3rem;
}

#dugme{
  margin-bottom: 1rem;
}


.button-15 {
  background-color:var(--button-secondary);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-color:var(--button-secondary);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-color:var(--button-secondary);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

