<div class="page">
  <div class="panel">
    <div class="header-buttons">
      <button class="recipients-button">
        Primaoci plaćanja
      </button>
      <button class="primary-button" [routerLink]="'/add-payment-recipient'">Dodaj kontakt
        <img class="plus-image" [width]="28" [height]="28"  src="assets/plus-large.svg" />
      </button>
    </div>
    <div class="table" style="width: 100%;">

<!--      Promeniti [dataSource] -->
      <mat-table [dataSource]="recipients" matSort style="width: 100%;">
        <!-- Kolona za myName -->
        <ng-container matColumnDef="myName">
          <mat-cell *matCellDef="let contact"> <b> {{contact.myName}}  </b> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="account">
          <mat-cell *matCellDef="let contact"> <b> {{contact.accountNumber}} </b> </mat-cell>
        </ng-container>
        <!-- Kolona za opcije (izmena i brisanje) -->
        <ng-container matColumnDef="opcije">
          <mat-cell *matCellDef="let contact">
            <div class="options-container">
              <img class="edit-button" (click)="editContact(contact)" [width]="24" [height]="24" src="assets/pen-square-svgrepo-com.svg">
              <!-- Dodajte interpolaciju za prosleđivanje contact.contactId -->
              <img class="delete-button" (click)="deleteContact(contact.id)" [width]="24" [height]="24" src="assets/trash-svgrepo-com.svg">
            </div>
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: ['myName', 'account', 'opcije'];"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
