<div class="page">
  <div class="panel">
    <!-- Dugmad za filtriranje -->
    <button [ngStyle]="{ 'opacity': !stocksFlag ? '0.5' : '1'}" (click)="switchToStocks()" class="stock-button">
      M y  S t o c k s
    </button>
    <button [ngStyle]="{ 'opacity': !marginStockFlag ? '0.5' : '1'}" (click)="switchToMarginStock()" class="margin-button">
      M y  M a r g i n
    </button>
    <button *ngIf="role !== 'ROLE_USER'" [ngStyle]="{ 'opacity': !futuresFlag ? '0.5' : '1'}" (click)="switchToFutures()" class="future-button">
      M y  F u t u r e s
    </button>
    <button *ngIf="role !== 'ROLE_USER'" [ngStyle]="{ 'opacity': !optionsFlag ? '0.5' : '1'}" (click)="switchToOptions()" class="option-button">
      M y  O p t i o n s
    </button>
    <button *ngIf="role !== 'ROLE_USER' && (role !== 'ROLE_COMPANY' || id === 1)" [ngStyle]="{ 'opacity': !forexFlag ? '0.5' : '1'}" (click)="switchToForex()" class="forex-button">
      M y  F o r e x
    </button>
    <!-- Tabela za prikaz podataka -->
    <div class="table">


      <!-- S T O C K S -->
      <mat-table *ngIf="stocksFlag" [dataSource]="myStocks" matSort>

        <ng-container *ngFor="let column of myStockColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | uppercase }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [ngStyle]="{
                  'color': column === 'change' ? (element[column] > 0 ? '#33d17a' : '#ed333b') : 'inherit',
                  'font-weight': column === 'ticker' ? 'bold' : 'normal',
                  'cursor': column === 'ticker' ? 'pointer' : 'default'

                }">
            <ng-container *ngIf="column !== 'opcije'">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf="column === 'opcije'">
              <button (click)="sellStock(element['ticker'])" class="button">Prodaj</button>
              <button (click)="setStockOtc(element)" class="button">Vidljivost</button>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="myStockColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: myStockColumns;"></mat-row>
      </mat-table>


    <!-- M A R G I N S T O C K S -->

      <mat-table *ngIf="marginStockFlag" [dataSource]="myMarginStocks" matSort>

        <ng-container *ngFor="let column of myMarginStockColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | uppercase }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [ngStyle]="{
                  'color': column === 'change' ? (element[column] > 0 ? '#33d17a' : '#ed333b') : 'inherit',
                  'font-weight': column === 'ticker' ? 'bold' : 'normal',
                  'cursor': column === 'ticker' ? 'pointer' : 'default'

                }">
            <ng-container *ngIf="column !== 'opcije'">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf="column === 'opcije'">
              <button (click)="sellStock(element['ticker'])" class="button">Prodaj</button>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="myMarginStockColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: myMarginStockColumns;"></mat-row>
      </mat-table>



      <!-- F U T U R E S -->
      <mat-table *ngIf="futuresFlag" [dataSource]="myFutures" matSort>

      <ng-container *ngFor="let column of myFutureColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | uppercase }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngStyle]="{
                'color': column === 'change' ? (element[column] > 0 ? '#33d17a' : '#ed333b') : 'inherit',
                'font-weight': column === 'ticker' ? 'bold' : 'normal',
                'cursor': column === 'ticker' ? 'pointer' : 'default'

              }">
          <ng-container *ngIf="column !== 'opcije'">
            {{ element[column] }}
          </ng-container>
          <ng-container *ngIf="column === 'opcije'">
            <button (click)="sellFuture(element['myFutureId'])" class="button">Prodaj</button>
          </ng-container>
        </mat-cell>
      </ng-container>

        <mat-header-row *matHeaderRowDef="myFutureColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: myFutureColumns;"></mat-row>
      </mat-table>



      <!-- F O R E X -->
      <mat-table *ngIf="forexFlag" [dataSource]="myForex" matSort>

        <ng-container *ngFor="let column of myForexColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | uppercase }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [ngStyle]="{
                  'color': column === 'change' ? (element[column] > 0 ? '#33d17a' : '#ed333b') : 'inherit',
                  'font-weight': column === 'ticker' ? 'bold' : 'normal',
                  'cursor': column === 'ticker' ? 'pointer' : 'default'

                }">
            <ng-container>
              {{ element[column] }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="myForexColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: myForexColumns;"></mat-row>
      </mat-table>

      <!-- OPTIONS -->

      <mat-table *ngIf="optionsFlag" [dataSource]="myOptions" matSort>

      <ng-container *ngFor="let column of myOptionColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | uppercase }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngStyle]="{
                'color': column === 'change' ? (element[column] > 0 ? '#33d17a' : '#ed333b') : 'inherit',
                'font-weight': column === 'ticker' ? 'bold' : 'normal',
                'cursor': column === 'ticker' ? 'pointer' : 'default'

              }">
          <ng-container *ngIf="column !== 'opcije'">
            {{ element[column] }}
          </ng-container>
          <ng-container *ngIf="column === 'opcije'">
            <button (click)="sellOption(element)" class="button">Prodaj</button>
          </ng-container>
        </mat-cell>
      </ng-container>

        <mat-header-row *matHeaderRowDef="myOptionColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: myOptionColumns;"></mat-row>
      </mat-table>



    </div>
  </div>
</div>
