<div class="page">
  <div class="panel">
    <button class="request-button">
      R e q u e s t s
    </button>

    <mat-table [dataSource]="MockRequests" matSort style="max-width: var(--max-screen-width)">
      <ng-container *ngFor="let column of requestColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | uppercase }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element[column] }}
        </mat-cell>
      </ng-container>
      <!-- Accept Button -->
      <ng-container matColumnDef="accept">
        <mat-header-cell *matHeaderCellDef> Accept </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="icon-button" (click)="acceptRequest(element.stockOr)">
            <img src="assets/circle-check-svgrepo-com.svg" width="24" height="24">
          </button>
        </mat-cell>
      </ng-container>

      <!-- Reject Button -->
      <ng-container matColumnDef="reject">
        <mat-header-cell *matHeaderCellDef> Reject </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="icon-button" (click)="rejectRequest(element.stockOrderId)">
            <img src="assets/circle-quarters-svgrepo-com.svg " width="24" height="24">
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="requestColumns.concat(['accept', 'reject'])"></mat-header-row>
      <mat-row *matRowDef="let row; columns: requestColumns.concat(['accept', 'reject'])"></mat-row>
    </mat-table>
  </div>
</div>
