<div class="page">
  <div class="panel">
    <button [ngStyle]="{ 'opacity': !exchangeFlag? '0.5' : '1'}" (click)="switchToExchange()" class="profit-button" >
      E X C H A N G E
    </button>
    <button [ngStyle]="{ 'opacity': !agentFlag? '0.5' : '1'}" (click)="switchToAgent()" class="profit-button" >
      A G E N T
    </button>
    <div class="table-container">
      <!-- Exchange Table -->
      <table mat-table *ngIf="exchangeFlag" [dataSource]="exchange" class="mat-elevation-z8 compact-table">
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Amount </th>
          <td mat-cell *matCellDef="let element" class="amount-column"> {{element.amount}} </td>
        </ng-container>
        <!-- Currency Column -->
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Currency </th>
          <td mat-cell *matCellDef="let element" class="currency-column"> {{element.currency}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="exchangeColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: exchangeColumns;"></tr>
      </table>

      <table mat-table *ngIf="agentFlag" [dataSource]="agents" class="mat-elevation-z8 compact-table">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Agent ID </th>
          <td mat-cell *matCellDef="let element" class="amount-column"> {{element.id}} </td>
        </ng-container>
        <!-- Total Amount Column -->
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Total Amount </th>
          <td mat-cell *matCellDef="let element" class="amount-column"> {{element.totalAmount}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="agentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: agentColumns;"></tr>
      </table>
    </div>
  </div>
</div>
