<div class="page">
  <div class="panel">
    <button [ngStyle]="{ 'opacity': !exchangeFlag? '0.5' : '1'}" (click)="switchToExchange()" class="profit-button" >
      E X C H A N G E
    </button>
    <button [ngStyle]="{ 'opacity': !agentFlag? '0.5' : '1'}" (click)="switchToAgent()" class="profit-button" >
      A G E N T
    </button>
    <button [ngStyle]="{ 'opacity': !taxFlag? '0.5' : '1'}" (click)="switchToTax()" class="tax-button" >
      T A X
    </button>
    <div class="table-container">
      <!-- Exchange Table -->

    <!-- E X C H A N G E -->

    <div class="table">
      <div *ngIf="exchangeFlag" class="rowCommission">
        <div class="kolona">
          <strong>{{commissionsByMark[2].commission}} {{commissionsByMark[2].currencyMark}}</strong>
        </div>
        <div class="kolona">
          <strong>{{commissionsByMark[1].commission}} {{commissionsByMark[1].currencyMark}}</strong>
        </div>
        <div class="kolona">
          <strong>{{commissionsByMark[0].commission}} {{commissionsByMark[0].currencyMark}}</strong>
        </div>
      </div>
      <table mat-table *ngIf="exchangeFlag" [dataSource]="commissions" class="mat-elevation-z8 compact-table">
        <!-- Amount Column -->
        <ng-container matColumnDef="accountFrom">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Account From </th>
          <td mat-cell *matCellDef="let element" class="accountFrom-column"> {{element.accountFrom}} </td>
        </ng-container>
        <!-- Currency Column -->
        <ng-container matColumnDef="commission">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Commission </th>
          <td mat-cell *matCellDef="let element" class="commission-column"> {{element.commission}} </td>
        </ng-container>
        <ng-container matColumnDef="currencyMark">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Mark </th>
          <td mat-cell *matCellDef="let element" class="currencyMark-column"> {{element.currencyMark}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Date </th>
          <td mat-cell *matCellDef="let element" class="date-column"> {{element.date | formatdate}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="commissionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: commissionColumns;"></tr>
      </table>


    <!-- A G E N T S -->

      <table mat-table *ngIf="agentFlag" [dataSource]="agents" class="mat-elevation-z8 compact-table">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Agent ID </th>
          <td mat-cell *matCellDef="let element" class="amount-column"> {{element.id}} </td>
        </ng-container>
        <!-- Total Amount Column -->
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Total Amount </th>
          <td mat-cell *matCellDef="let element" class="amount-column"> {{element.totalAmount}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="agentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: agentColumns;"></tr>
      </table>

    <!-- T A X -->

      <table mat-table *ngIf="taxFlag" [dataSource]="taxes" class="mat-elevation-z8 compact-table">
        <!-- ID Column -->
        <ng-container matColumnDef="taxStockId">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Tax Id </th>
          <td mat-cell *matCellDef="let element" class="amount-column"> {{element.taxtStockId}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Amount </th>
          <td mat-cell *matCellDef="let element" class="amount-column"> {{element.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="table-header"> Date </th>
          <td mat-cell *matCellDef="let element" class="date-column"> {{element.date | formatdate}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="taxesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: taxesColumns;"></tr>
      </table>
    </div>
    </div>
  </div>
</div>
