<form [formGroup]= "firmForm" (ngSubmit)="save()">
<div class="container">
  <div class="card details">
    <h2 class="h4">&nbsp;</h2>
    <h2 class="h4" style="text-align: center; font-weight: bold;">Forma za dodavanje racuna firme</h2>
    <hr>
      <div class="card details-smaller">
        <h2 class="h4">&nbsp;</h2>
        <h2 class="h4" style="text-align: right; font-weight: bold;">Tekuci racun</h2>
        <div class="spacer"></div>
        <div class="input-container">
          <input
            type="text"
            placeholder="Balance za firmu"
            class="input"
            formControlName="balance"
          />
          <label>RSD</label>
        </div>
      </div>
    <span *ngIf="firmForm.get('balance')?.invalid && firmForm.get('balance')?.touched" class="wrong-input-span">
           Balance mora da bude popunjen!</span>
        <div class="spacer"></div>
        <div class="buttons">
          <button (click)="save()" class="button-next" >Kreiraj racun</button>
        </div>
    </div>
  </div>
</form>
