<div class="accountsView">
  <div class="container">
    <div class="accountsScroller">
      <span style="text-align: center" class="h2">Pregled kartica</span>
      <div class="selectCardWrapper">
        <!-- Display selected account details -->
        <div class="accountCard">
          <div class="cardLogoWrapper">
            <div class="cardLogo">
              <img height="48px" width="48px" class="arrow" src="assets/visa-blue-card-logo.svg" alt="Next">
            </div>
          </div>
          <div class="cardInfoWrapper">
            <span class="p">Card number</span>
            <p class="h4 blueText"> 4444 ... 1111 </p>
            <span class="p">Datum isticanja</span>
            <p class="h4 blueText">31/12/9999</p>
            <span class="p">CVC</span>
            <p class="h4 blueText">123</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

