.bold {
    font-weight: bold;
}
.lighter {
    color: #b9b9b9;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

body{
    background-color: var(--background-main);
}

.myContainer{
    max-width: 52rem;
    margin:auto;
}

.blueText{
    color:var(--blue-medium)
}