<div class="page">
    <div class="panel">

      <button [ngStyle]="{ 'opacity': !kupovinaFlag ? '0.5' : '1'}" class="users-button" (click)="switchToKupovina()">
        Ponude
      </button>
      <button [ngStyle]="{ 'opacity': !zahteviFlag ? '0.5' : '1'}" class="employees-button" (click)="switchToZahtevi()">
        Poslato
      </button>
      <button [ngStyle]="{ 'opacity': !ponudeFlag ? '0.5' : '1'}" class="employees-button" (click)="switchToPonude()">
        Pristiglo
      </button>
      <div class="table">
        <div class="header">

        </div>
<!-- KUPOVINA -->
        <mat-table *ngIf="kupovinaFlag" [dataSource]="stocksData" matSort>
          <ng-container *ngFor="let column of kupovinaColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ column | titlecase }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ng-container *ngIf="column === 'Količina'">
                {{ element['publicAmount'] }}
              </ng-container>
              <ng-container *ngIf="column === 'Korisnik'">
                {{ users[element['userId']]?.firstName + " " + users[element['userId']]?.lastName || 'Loading data..'}}
              </ng-container>
              <ng-container *ngIf="column === 'Hartija'">
                <strong><p>{{ element['ticker'] }}</p></strong>
              </ng-container>
              <ng-container *ngIf="column === 'Opcije'">
                <button (click)="buttonBuy(element)" class="button">Kupi</button>
              </ng-container>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="kupovinaColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: kupovinaColumns;"></mat-row>
        </mat-table>

<!-- ZAHTEVI -->
        <mat-table *ngIf="zahteviFlag" [dataSource]="sentData" matSort>
          <ng-container *ngFor="let column of zahteviColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ column | titlecase }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ng-container *ngIf="column === 'Količina'">
                {{ element['amount'] }}
              </ng-container>
              <ng-container *ngIf="column === 'Cena'">
                {{ element['price'] }} RSD
              </ng-container>
              <ng-container *ngIf="column === 'Hartija'">
                <strong><p>{{ element['ticker'] }}</p></strong>
              </ng-container>
              <ng-container *ngIf="column === 'Status'">
                  <!-- RADI NE DIRAJ -->
                <div *ngIf="(element['sellerCertificate'] === 'PROCESSING' || element['sellerCertificate'] === 'ACCEPTED') && (element['bankCertificate'] === 'PROCESSING')">
                  <strong><p>PROCESSING</p></strong>
                </div>
                <div *ngIf="element['sellerCertificate'] === 'DECLINED' || element['bankCertificate'] === 'DECLINED'">
                  <strong><p>DECLINED</p></strong>
                </div>
                <div *ngIf="element['sellerCertificate'] === 'ACCEPTED' && element['bankCertificate'] === 'ACCEPTED'">
                  <strong><p>ACCEPTED</p></strong>
                </div>
              </ng-container>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="zahteviColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: zahteviColumns;"></mat-row>
        </mat-table>


<!-- PONUDE -->
        <mat-table *ngIf="ponudeFlag" [dataSource]="receivedData" matSort>
          <ng-container *ngFor="let column of ponudeColumns" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ column | titlecase }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ng-container *ngIf="column === 'Količina'">
                {{ element['amount'] }}
              </ng-container>
              <ng-container *ngIf="column === 'Cena'">
                {{ element['price'] }} RSD
              </ng-container>
              <ng-container *ngIf="column === 'Hartija'">
                <strong><p>{{ element['ticker'] }}</p></strong>
              </ng-container>
              <ng-container *ngIf="column === 'Opcije'">

                <button *ngIf="element['sellerCertificate'] === 'PROCESSING'" (click)="acceptOffer(element)" class="button">Prihvati</button>
                <button *ngIf="element['sellerCertificate'] === 'PROCESSING'" (click)="declineOffer(element)" class="button2">Odbij</button>

                <div *ngIf="element['sellerCertificate'] === 'ACCEPTED'" class="img">
                  <img src="../../../../assets/circle-check-svgrepo-com.svg" alt="accepted">
                </div>
                <div *ngIf="element['sellerCertificate'] === 'DECLINED'" class="img">
                  <img src="../../../../assets/circle-quarters-svgrepo-com.svg" alt="declined">
                </div>
              </ng-container>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="ponudeColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ponudeColumns;"></mat-row>
        </mat-table>

      </div>
    </div>
  </div>



