<div class="background-container">
  <!-- <img src="assets/logo_2.svg" alt="Banka 3" class="logo-img" /> -->
  <div
    class="d-flex align-items-center justify-content-center vh-100 vw-100 panel-wrapper"
  >
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div
        class="opaque-panel d-flex flex-column align-items-center justify-content-center"
      >
        <h2 class="disable-opacity h2"><b>Prijava zaposlenog</b></h2>
        <input
          type="text"
          placeholder="Email"
          class="input-box"
          formControlName="email"
        />
        <span
          *ngIf="email && email.invalid && email.touched"
          class="wrong-input-span"
        >
          Email is incorrect!</span
        >
        <input
          type="password"
          placeholder="Password"
          class="input-box"
          formControlName="password"
        />
        <span
          *ngIf="password && password.invalid && password.touched"
          class="wrong-input-span"
        >
          Password cannot be blank.</span
        >
        <a class="forgot-link" routerLink="/forgot-password"
          ><u>Zaboravili ste email ili lozinku?</u></a
        >
        <div
          class="button-container d-flex flex-column align-items-center justify-content-center"
        >
          <button
            class="primary-button"
            type="submit"
            [disabled]="loginForm.invalid"
            [ngClass]="{ disabled: loginForm.invalid }"
          >
            Log in
          </button>
          <button class="secondary-button" [routerLink]="['/register']">
            Register
          </button>
        </div>
        <a routerLink="/user-login" class="user-link">Prijava korisnika</a>
      </div>
    </form>
  </div>
</div>
