<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.css" integrity="sha512-SudEgtLVV+Wip7/PrEh2zd0mO/PqR1w26NEJfhnHGxZdng3KYsLhpAZQG0mPMUykCYoKgdBc7/ItrUYzbC0aTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.js" integrity="sha512-SmkWOBrqYIdqATrk8lM9D2LXXA5rZAcuGTgdzM5REXSGYAtlTgp+88rUzBXxKEd78bnvyEfA7sbZIfe8/vA2Ng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<form [formGroup]="employeeForm" (ngSubmit)="save()">
<div class="container">
  <div class="card details">
    <h2 class="h4">&nbsp;</h2>
    <h2 class="h4" style="text-align: center; font-weight: bold;">Dodaj zaposlenog</h2>

    <hr>
    <div class="input-row">
      <div class="input-container">
        <p class="bold">Ime</p>
        <input
          type="text"
          placeholder=""
          class="input"
          formControlName="firstName"
        />
        <span
          *ngIf="firstName && firstName.invalid && firstName.touched"
          class="wrong-input-span"
        >
            Ime mora da bude popunjeno!</span
        >
      </div>
      <div class="input-container">
        <p class="bold">Prezime</p>
        <input
          type="text"
          placeholder=""
          class="input"
          formControlName="lastName"
        />
        <span
          *ngIf="lastName && lastName.invalid && lastName.touched"class="wrong-input-span">
              Prezime mora da bude popunjeno!</span>
      </div>
    </div>




    <div class="input-row">
      <div class="input-container">
        <p class="bold">Username</p>
        <input
          type="text"
          placeholder=""
          class="input"
          formControlName="username"
        />
        <span
          *ngIf="username && username.invalid && username.touched"
          class="wrong-input-span"
        >
            Username mora da bude popunjeno!</span
        >
      </div>
      <div class="input-container">
        <p class="bold">Email</p>
        <input
          type="text"
          placeholder=""
          class="input"
          formControlName="email"
        />
        <span
          *ngIf="email && email.invalid && email.touched"class="wrong-input-span">
            Email mora da ima dobar format i ne sme biti prazan!</span>
      </div>
    </div>

      <div class="input-container">
        <p class="bold">Datum rođenja</p>
        <mat-form-field>
          <mat-label>Datum rođenja</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Odaberi datum rođenja" [(ngModel)]="dtEmployee" formControlName="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span *ngIf="dateOfBirth && dateOfBirth.invalid && dateOfBirth.touched" class="wrong-input-span">
      Primer 1/1/2001, polje ne sme biti prazno!
    </span>


        <div class="input-container">
          <p class="bold">Pol</p>
        </div>
        <div class="input-row">
          <mat-form-field>
            <mat-label>Pol</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="M">Male</mat-option>
              <mat-option value="F">Female</mat-option>
              <mat-option value="O">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <span *ngIf="gender && gender.invalid && gender.touched" class="wrong-input-span">
          Pol ne sme biti prazan!
        </span>
        </div>
    </div>



    <div class="input-container">
      <p class="bold">JMBG</p>
      <input
        type="text"
        placeholder=""
        class="input"
        formControlName="jmbg"
      />
      <span
        *ngIf="jmbg && jmbg.invalid && jmbg.touched"class="wrong-input-span">
            JMBG mora imati 13 cifara i ne sme biti prazan!</span>
    </div>



    <div class="input-container">
      <p class="bold">Adresa</p>
      <input
        type="text"
        placeholder=""
        class="input"
        formControlName="address"
      />
      <span
        *ngIf="address && address.invalid && address.touched"class="wrong-input-span">
           Adresa ne sme biti prazna!</span>
    </div>

    <div class="input-row">
      <div class="input-container">
        <p class="bold">Broj telefona</p>
        <input
          type="text"
          placeholder=""
          class="input"
          formControlName="phoneNumber"
        />
        <span
          *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched"class="wrong-input-span">
           Broj mora da pocinje sa 06, da ima 9-10 cifara i ne sme biti prazno!</span>
      </div>


      <div class="input-container">

          <div class="input-container">
            <p class="bold">Role</p>
            <mat-form-field>
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role.roleName">{{ role.roleName }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        <span
          *ngIf="role && role.invalid && role.touched"class="wrong-input-span">
          Role ne sme biti prazno polje!</span>
      </div>
    </div>
    <div class="buttons">
      <button (click)="save()" class="button-change-password"[disabled]="!employeeForm.valid">Napravi korisnika</button>
    </div>
  </div>
</div>
</form>
