<div class="popup-container">
    <h2 class="popup-title text-center">{{ stock.ticker }}</h2>
    <p class="line"></p>
    <div class="popup-content">
      <p class="text-center"><strong>Količina:</strong></p>
      <div style="text-align: center;">
        <p><strong>{{amount}}</strong></p>
      </div>
      <p class="text-center"><strong>Stavi public</strong></p>
      <div style="text-align: center;">
        <input
          type="number"
          class="input"
          [(ngModel)]="publicAmount"
          name="publicAmount"
          #publicAmountInput="ngModel"
          (ngModelChange)="validatePublicAmount()"
          style="display: inline-block; width: 100px;"
          min="0"
          [max]="stock.amount"
          required
          >
          <div *ngIf="publicAmountInput.invalid && (publicAmountInput.dirty || publicAmountInput.touched)">
            <div *ngIf="publicAmountInput.errors?.['required']">
              Amount je obavezan.
            </div>
            <div *ngIf="publicAmountInput.errors?.['min']">
              Amount ne može biti negativan.
            </div>
            <div *ngIf="publicAmountInput.errors?.['max']">
              Amount ne može biti veći od {{ amount }}.
            </div>
            <div *ngIf="publicAmountInput.errors?.['pattern']">
              Unesite važeći broj.
            </div>
          </div>
      </div>
    </div>
    <div class="text-center">
      <button class="myButtonPrimary" (click)="cancel()">Odustani</button>
      <button [disabled]="publicAmountInput.invalid" class="myButtonSecondary" (click)="confirm()">Potvrdi</button>
    </div>
  </div>


