<div class="page">
  <div class="panel">
    <button [ngStyle]="{ 'opacity': !stocksFlag ? '0.5' : '1'}" class="stock-button" (click)="switchToRequests()">
      R e q u e s t s
    </button>
    <button [ngStyle]="{ 'opacity': !limitFlag ? '0.5' : '1'}" class="limit-button" (click)="switchToLimits()">
      L i m i t s
    </button>

    <div *ngIf = 'showRequests'>
    <mat-table [dataSource]="requests" matSort style="max-width: var(--max-screen-width)">
      <ng-container *ngFor="let column of requestColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | uppercase }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element[column] }}
        </mat-cell>
      </ng-container>
      <!-- Accept Button -->
      <ng-container matColumnDef="accept">
        <mat-header-cell *matHeaderCellDef> Accept </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="icon-button" (click)="acceptRequest(element.stockOrderId)">
            <img src="assets/circle-check-svgrepo-com.svg" width="24" height="24">
          </button>
        </mat-cell>
      </ng-container>


      <!-- Reject Button -->

      <ng-container matColumnDef="reject">
        <mat-header-cell *matHeaderCellDef> Reject </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="icon-button" (click)="rejectRequest(element.stockOrderId)">
            <img src="assets/circle-quarters-svgrepo-com.svg " width="24" height="24">
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="requestColumns.concat(['accept', 'reject'])"></mat-header-row>
      <mat-row *matRowDef="let row; columns: requestColumns.concat(['accept', 'reject'])"></mat-row>
    </mat-table>
  </div>
    <!--limits-->


    <div *ngIf = 'showLimits'>
    <div *ngIf="showLimits">
      <mat-table [dataSource]="actuaries" matSort style="max-width: var(--max-screen-width)">
        <ng-container matColumnDef="employeeId">
          <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.employeeId }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="limitValue">
          <mat-header-cell *matHeaderCellDef> Current Limit </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.limitValue }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="setNewLimit">
          <mat-header-cell *matHeaderCellDef> Set New Limit </mat-header-cell>
          <mat-cell *matCellDef="let element " style="padding-right: 3em;">
            <input type="text" [(ngModel)]="element.newValue" placeholder="Enter new limit">
            <button class="button miniButton" (click)="setUserLimit(element.actuaryId, element.newValue)">Set</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="resetLimit">
          <mat-header-cell *matHeaderCellDef> Reset Limit </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="button miniButton" (click)="resetUserLimit(element.employeeId)">Reset</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="orderRequest">
          <mat-header-cell *matHeaderCellDef> Order Request </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="button miniButton" [ngStyle]="{ 'opacity': this.element.orderRequest ? '1' : '0.5' }" (click)="setOrderRequestForActuary(element.actuaryId, true)" [disabled]="this.element.orderRequest">True</button>
            <button class="button miniButton" [ngStyle]="{ 'opacity': !this.element.orderRequest ? '1' : '0.5' }" (click)="setOrderRequestForActuary(element.actuaryId, false)" [disabled]="!this.element.orderRequest">False</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['employeeId', 'limitValue', 'setNewLimit', 'resetLimit','orderRequest']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['employeeId', 'limitValue', 'setNewLimit', 'resetLimit','orderRequest']"></mat-row>
      </mat-table>
    </div>
  </div>

 </div>





