<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.css" integrity="sha512-SudEgtLVV+Wip7/PrEh2zd0mO/PqR1w26NEJfhnHGxZdng3KYsLhpAZQG0mPMUykCYoKgdBc7/ItrUYzbC0aTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.js" integrity="sha512-SmkWOBrqYIdqATrk8lM9D2LXXA5rZAcuGTgdzM5REXSGYAtlTgp+88rUzBXxKEd78bnvyEfA7sbZIfe8/vA2Ng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<form [formGroup]= "accountForm" (ngSubmit)="save()">
  <div class="container">
    <div class="card details">
      <h2 class="h4">&nbsp;</h2>
      <h2 class="h4" style="text-align: center; font-weight: bold;">Forma za dodavanje racuna korisnika</h2>
      <hr>
      <div class="input-container">
        <p class="bold">Tip racuna</p>
      </div>
      <div class="input-row">
        <mat-form-field>
          <mat-label>Izaberite tip racuna</mat-label>
          <mat-select formControlName = "accountType">
            <mat-option value="Tekuci">Tekuci</mat-option>
            <mat-option value="Devizni">Devizni</mat-option>
            <mat-option value="Marzni">Marzni</mat-option>
          </mat-select>
        </mat-form-field>
        <span
          *ngIf="accountType && accountType.invalid && accountType.touched"
          class="wrong-input-span"
        >
            Tip racuna mora biti izabran!</span>
      </div>

      <div *ngIf="accountForm.get('accountType')?.value === 'Tekuci'">
        <div class="card details-smaller">
          <h2 class="h4">&nbsp;</h2>
          <h2 class="h4" style="text-align: right; font-weight: bold;">Tekuci racun</h2>
          <div class="spacer"></div>
          <div class="input-container">
            <input
              type="text"
              placeholder="Balance za korisnika"
              class="input"
              formControlName="balance"
            />
            <label>RSD</label>
          </div>
          <span *ngIf="accountForm.get('balance')?.invalid && accountForm.get('balance')?.touched" class="wrong-input-span">
           Balance mora da bude popunjen!
          </span>
          <div class="spacer"></div>

          <div class="buttons">
            <button (click)="save()" class="button-next" >Kreiraj racun</button>
          </div>
        </div>
      </div>

      <div *ngIf="accountForm.get('accountType')?.value === 'Devizni'">
      <div class="card details-smaller">
          <h2 class="h4" style="text-align: right; font-weight: bold;">Devizni racun</h2>
          <div class="input-container">
            <input
              type="text"
              placeholder="Balance za korisnika"
              class="input"
              formControlName = "balance"
            />

            <div style="width: 5%;"></div>
            <mat-form-field>
              <mat-label>Valuta</mat-label>
              <mat-select formControlName = "mark">
                <mat-option *ngFor="let currency of currencies" [value]="currency.name">{{currency.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <span *ngIf="accountForm.get('balance')?.invalid && accountForm.get('balance')?.touched" class="wrong-input-span">
           Balance mora da bude popunjen!
          </span>
        <span *ngIf="accountForm.get('mark')?.invalid && accountForm.get('mark')?.touched" class="wrong-input-span">
           Valuta mora biti izabrana!
          </span>
          <div class="spacer"></div>
          <div class="buttons">
            <button (click)="save()" class="button-next" >Kreiraj racun</button>
          </div>
        </div>
      </div>

      <div *ngIf="accountForm.get('accountType')?.value === 'Marzni'">
        <div class="card details-smaller">
          <h2 class="h4">&nbsp;</h2>
          <h2 class="h4" style="text-align: right; font-weight: bold;">Marzni racun</h2>
          <div class="spacer"></div>
          <div class="input-container">
            <div class="column">
              <div class="input-group">
                <label for="balance">Balance za korisnika:</label>
                <div class="input-with-label">
                  <input
                    type="text"
                    placeholder="Balance za korisnika"
                    class="input"
                    formControlName="balance"
                    id="balance"
                  />
                  <label>RSD</label>
                </div>
              </div>
              <div class="input-group">
                <label for="initialMargin">Initial margin:</label>
                <input
                  type="text"
                  placeholder="Initial margin"
                  class="input"
                  formControlName="initialMargin"
                  id="initialMargin"
                />
              </div>
            </div>
            <div class="column">
              <div class="input-group">
                <label for="maintenanceMargin">Maintenance margin:</label>
                <input
                  type="text"
                  placeholder="Maintenance margin"
                  class="input"
                  formControlName="maintenanceMargin"
                  id="maintenanceMargin"
                />
              </div>
              <div class="input-group">
                <label for="initialMargin">Bank participation:</label>
                <mat-form-field>
                  <mat-label>Bank participation:</mat-label>
                  <mat-select formControlName="bankParticipation">
                    <mat-option *ngFor="let bankParticipation of bankParticipations" [value]="bankParticipation">
                      {{bankParticipation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <span *ngIf="accountForm.get('balance')?.invalid && accountForm.get('balance')?.touched" class="wrong-input-span">
            Balance mora da bude popunjen!
          </span>
          <span *ngIf="accountForm.get('initialMargin')?.invalid && accountForm.get('initialMargin')?.touched" class="wrong-input-span">
            Initial margin mora da bude popunjen!
          </span>
          <span *ngIf="accountForm.get('maintenanceMargin')?.invalid && accountForm.get('maintenanceMargin')?.touched" class="wrong-input-span">
            Maintenance margin mora da bude popunjen!
          </span>
          <span *ngIf="accountForm.get('bankParticipation')?.invalid && accountForm.get('bankParticipation')?.touched" class="wrong-input-span">
            Bank participation mora da bude popunjen!
          </span>
          <div class="spacer"></div>
          <div class="buttons">
            <button (click)="save()" class="button-next">Kreiraj racun</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
