<div class="page">

  <div class="panel">
    <div>
      <span class="h1">{{ ticker }}</span> <br>
      <span class="p">Datum</span>
    </div>
    <input type="date" (change)="onDateChange($event)">
    <button class="users-button" (click)="switchToOptions('call')" [ngStyle]="{ 'opacity': !callsFlag ? '0.5' : '1'}">
      Calls
    </button>
    <button class="employees-button" (click)="switchToOptions('put')" [ngStyle]="{ 'opacity': !putsFlag ? '0.5' : '1'}">
      Puts
    </button>
    <button (click)="refresh()" class="myButtonPrimary" type="button" value="Refresh">
      Refresh
    </button>

    <div *ngIf="callsFlag" class="table">
      <mat-table [dataSource]="calls" matSort>
        <ng-container *ngFor="let column of optionColumns" [matColumnDef]="column">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | titlecase }}
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            <ng-container *ngIf=" column !== 'lastRefresh' && column !== 'contractSymbol'">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf="column === 'contractSymbol'" style="width: 300px;">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf=" column === 'opcije'">
              <button (click)="buyOption(element)" class="myButtonSecondary">Kupi</button>
            </ng-container>
            <ng-container *ngIf=" column === 'lastRefresh'">
              {{ element[column] | date}}
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="optionColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: optionColumns;"></mat-row>
      </mat-table>
    </div>
    <div *ngIf="putsFlag" class="table">
      <mat-table [dataSource]="puts" matSort>
        <ng-container *ngFor="let column of optionColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | titlecase }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf=" column !== 'lastRefresh' && column !== 'contractSymbol'">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf="column === 'contractSymbol'" style="width: 300px;">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf=" column === 'opcije'">
              <button (click)="buyOption(element)" class="myButtonSecondary">Kupi</button>
            </ng-container>
            <ng-container *ngIf=" column === 'lastRefresh'">
              {{ element[column] | date}}
            </ng-container>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="optionColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: optionColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
