/* <app-navbar></app-navbar>
<div class="accountsView">
    <div class="accountsScroller">
        <h2>Pregled racuna</h2>
        <div class="accountCard">
            <div class="cardLogoWrapper">
                <div class="cardLogo">

                </div>
            </div>
            <div class="cardInfoWrapper">
                <h3>Tekuci</h3>
                <p> 340-000100000003632-87</p>
                <h3>Raspolozivo stanje</h3>
                <p> 123,456.00 RSD</p>
            </div>
        </div>
    </div>

    <div class="transactionView">
        <h2>Pregled transakcija</h2>
        <div class="transactionsWrapper">
            <div class="transactionCard">
                <div class="transactionDate">
                    <p> 01 Mart 2024</p>
                </div>
                <p>Broj tekuceg racuna na koji je poslat</p>
                <h3>1,512.00 RSD</h3>
            </div>
        </div>
    </div>
</div>*/

.blueText{
    color:var(--blue-medium)
}
.myContainer{
    max-width: 50rem;
    margin: auto;
}
.accountsView{
    background: linear-gradient(to bottom, var(--blue-light) 0%, #B8E4EC 50%, #f6f6f6  100%);
    width:100%;
    padding:1rem;
}
.accountsScroller{
    margin:auto;
    display:flex;
    flex-direction: column;
    border-radius:1rem;
    -ms-flex-item-align: center;
}
.accountCard{
    display:flex;
    border-radius: 1rem;
    background-color:white;
    margin:1rem 1rem 1rem 1rem;
    -ms-flex-item-align: center;
    flex-direction: row;
    padding:2rem 3rem 3rem 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.cardLogoWrapper{
    height:100%;
}
.myModalWrapper{
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display:none;
    justify-content: center;
    align-items: center;

}
.formGroup {
    margin-bottom: 1rem;
}

.formGroup label {
    display: block;
    margin-bottom: 0.5rem;
}
.myModal{
    padding:2rem 3rem 2rem 3rem;
    background-color: white;
    border-radius: 1rem;
    width: 80%;
}

.formWrapper{
    display:flex;
    max-width: 35rem;
    flex-wrap: wrap;
}
.cardLogo{
    height:3rem;
    width:3rem;
    border-radius: 100%;
    background-color: black;
}
.converterWrapper{
    align-items: center;
    display: flex;
}
.currencyWrapper{
    display: flex;
    flex-direction: column;
}
.currencyConverter{
    display: flex;
}
.transactionView{
    background-color: var(--background-main);
    width: 100%;
    padding-top:1rem;
    min-height: 100vh; 

}
.cardInfoWrapper{
    margin-left:2rem;
}
.transactionsWrapper{
    /* padding:1rem;
    margin:0;
    border:black 2px solid; */

}
.transactionCard{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    background-color: white;
    margin-top: 1rem;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 1px 8px 9px 0px rgba(209,209,209,1);
    -moz-box-shadow: 1px 8px 9px 0px rgba(209,209,209,1);
    box-shadow: 1px 8px 9px 0px rgba(209,209,209,1);
}
.transactionDate{
    width:7rem;
    padding:0.6rem;
    background-color:var(--blue-dark);
    color:white;
}
.transactionDetails{
    padding:0.7rem 0.7rem 0.7rem 1rem;
}
.transactionDetailsWrapper{
    display: flex;
}
.convertArrow{
    height: 100%;
    display: flex;
    align-items: center;
}
.incoming{
    transform: rotate(-45deg);
    fill:green !important;
    background-color: green;
    border-radius: 100%;
}
.outgoing{
    transform: rotate(135deg);
    background-color: red;
    fill:red !important;
    border-radius: 100%;
}
	
.arrowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.arrowWrapper:hover {
    opacity: 0.8;
}

.arrow{
    width: 3rem;
    height: 3rem;
}
.day{
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 2.1rem;
}
.month{
    font-family: 'Archivo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}
.year{
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}
.transactionIconWrapper{
    margin:1rem 1rem 0rem 0rem;
}
.selectCardWrapper{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.accountDetailsWrapper{
    margin:2rem 0rem 2rem 0rem;
}
.rightMargin{
    margin-right: 2rem;
}
body{
    background-color: var(--background-main);
}