<div class="accountsView">
    <div class="container">
      <div class="accountsScroller">
        <span style="text-align: center" class="h2">Pregled računa</span>
        <div class="selectCardWrapper">
            <div class="arrowWrapper" (click)="previousAccount()">
              <img height="48px" width="48px" class="arrow" src="../../../assets/left-chevron-svgrepo-com.svg" alt="Next" class="arrow-svg">            </div>

          <!-- Display selected account details -->
          <div class="accountCard" (click)="displayDetails()">
            <div class="cardLogoWrapper">
              <div class="cardLogo"></div>
            </div>
            <div class="cardInfoWrapper">
                <span class="p">Broj računa</span>
              <p class="h4 blueText">{{ selectedAccount.accountNumber }}</p>
              <span class="p">Raspoloživo stanje</span>
              <p class="h4 blueText">{{ selectedAccount.availableBalance - selectedAccount.reservedAmount }} {{selectedAccount.currency.mark}}</p>
            </div>
          </div>

          <div class="arrowWrapper" (click)="nextAccount()">
            <img height="48px" width="48px" class="arrow" src="../../../assets/right-chevron-svgrepo-com.svg" alt="Next" class="arrow-svg">        </div>
        </div>
      </div>
    </div>
  </div>
<div class="transactionView">
    <div class="myContainer">
    <span style="text-align: center" class="h2">Pregled transakcija</span>
    <div class="transactionsWrapper" *ngFor="let transaction of transactions">

        <div (click)="redirectToTransaction(transaction)" class="transactionCard">
        <div class="transactionDetailsWrapper">
          <div class="transactionDate">
                        <!-- Display day -->
                        <div class="day">{{ getDayFromDate(transaction.date) }}</div>
                        <div class="month">{{ getMonthFromDate(transaction.date) }}</div>

                  <div class="year">{{ getYearFromDate(transaction.date) }}</div>
          </div>

          <div *ngIf="transaction.accountFrom === selectedAccount.accountNumber" class="transactionDetails">
            <p  class="p blueText">{{ transaction.accountTo }}</p>
            <span style="text-align: center" class="h4">{{ transaction.amount }} {{transaction.currencyMark}}</span>
          </div>
          <div *ngIf="transaction.accountTo === selectedAccount.accountNumber" class="transactionDetails">
            <p  class="p blueText">{{ transaction.accountFrom }}</p>
            <span style="text-align: center" class="h4">{{ transaction.amount }} {{transaction.currencyMark}}</span>
          </div>
        </div>
          <div *ngIf="transaction.accountFrom == selectedAccount.accountNumber" class="transactionIconWrapper">
            <img height="128px" width="128px" class="arrow" src="../../../assets/money-send-svgrepo-com.svg">
          </div>
          <div *ngIf="transaction.accountTo == selectedAccount.accountNumber" class="transactionIconWrapper">
            <img height="128px" width="128px" class="arrow" src="../../../assets/money-recive-svgrepo-com.svg">
          </div>

        </div>
      </div>

</div>

</div>
