<div class="transactionView">
  <div class="myContainer">
    <div class="actionWrapper">
    <span style=" margin-bottom:1rem;" class="h2">Akcije</span>
    <input class="myButtonPrimary" type="submit" value="Pošalji zahtev za novi kredit" (click)="navigateToCreditRequest()">
  </div>
    <div class="sortWrapper">
    <span style="text-align: center" class="h2">Krediti</span>
    <div class="sort-dropdown">
        <select #sortSelect (change)="sortCredits(sortSelect.value)" class="sortSelect">
            <option value="asc">Po iznosu - rastući</option>
            <option value="desc">Po iznosu - opadajući</option>
          </select>
    </div>
</div>
    <div class="transactionsWrapper" *ngFor="let credit of credits">
      <div class="transactionCard">
        <div class="transactionDetailsWrapper">
          <div class="transactionDetails">
            <!-- Display credit details -->
            <p class="h3">{{ credit.name }}</p>
            <p class="h4 blueText">{{ credit.accountNumber }}</p>
            <span style="text-align: center" class="h2">{{ credit.amount }} {{ credit.currencyMark }}</span>
            <span style="text-align: center" class="h2">{{ credit.status }}</span>
          </div>
          <div class="buttonWrapper">
            <input class="myButtonPrimary" type="submit" value="Detalji transakcija" (click)="navigateToCreditDetails(credit.creditRequestId)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
