:host{
  --button-height-small: 2.5rem;
  --button-width-small: 12rem;
  --font-size-sm: 1rem;
  --button-height: 3.5rem;
  --button-width: 13rem;
  --font-size-lg: 1.2rem;
  --margin-standard: 0.5rem;
  --padding-standard: 0.75rem;
  --border-radius-standard: 0.5rem;
}

.page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 96vh;
  background-color: #F6F6F6;
}

.panel{
  max-width: var(--max-screen-width);
  width: 80%;
  margin-top: 50px;
}

.table{
    flex-direction: column;
    align-items:flex-start;
    height: 60vh !important;
    display: flex;
    background-color: #ffffff;

  border-bottom-right-radius: var(--border-radius-standard);
  border-top-right-radius: var(--border-radius-standard);
  border-bottom-left-radius: var(--border-radius-standard);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
}

.primary-button2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  background-color: var(--button-primary);
  color: #F6F6F6;
  border-radius:  var(--border-radius-standard);
  border: 0;
  height: var(--button-height-small);
  width:calc(1.5rem + var(--button-width));
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
  cursor: pointer;
}
.primary-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  background-color: var(--button-primary);
  color: #F6F6F6;
  border-radius:  var(--border-radius-standard);
  border: 0;
  height: var(--button-height-small);
  width: var(--button-width);
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
  cursor: pointer;
}

.users-button{
  background-color: var(--blue-medium);
  border: 0;
  height: var(--button-height-small);
  color: #F6F6F6;
  width: var(--button-width);
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
  cursor: pointer;
  border-top-right-radius: var(--border-radius-standard);
  border-top-left-radius: var(--border-radius-standard);

}

.employees-button{
  background-color: var(--blue-medium);
  border: 0;
  height: var(--button-height-small);
  color: #F6F6F6;
  width: var(--button-width);
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
  cursor: pointer;
  border-top-right-radius: var(--border-radius-standard);
  border-top-left-radius: var(--border-radius-standard);
  margin-left: 5px;
}

.disabled-button{
  opacity: 0.5%;
}

.search-container {
  /*width: 300px;*/
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-standard);
  /*outline: none;*/
}

.btn-submit{
  padding: 0.625rem 1.25rem;
  margin: 0 0.35rem;
  border-radius: 0.5rem;
  font-family: 'Archivo', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background: var(--blue-light);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container input[type="text"] {
  border: none;
  padding-left: 20px;
}

input::placeholder {
  color: var(--blue-dark);
}
input{
  margin-right: 1rem;
  max-width: 12rem;
  border-radius: var(--border-radius-standard);
  outline: 1px solid rgba(0,0,0, 0.1);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

img{
  cursor: pointer;
}

.search-icon {
  background-color: var(--blue-light);
  border-top-right-radius: var(--border-radius-standard);
  border-bottom-right-radius: var(--border-radius-standard);
}

.plus-image{
  padding: 0;
  background-color: var(--button-primary);
}
