<div class = "extra-padding">
  <form [formGroup]="contactForm">
  <div class="container">
    <div class="card details">
      <h2 class="h4">&nbsp;</h2>
      <h2 class="h4" style="text-align: center; font-weight: bold;">Novi kontakt</h2>
      <hr>
      <div class="input-row">
        <div class="input-container">
          <p class="bold">Ime</p>
          <input
            type="text"
            placeholder=""
            class="input"
            formControlName="formName"
          />
          <span
            *ngIf="formName && formName.invalid && formName.touched"
            class="wrong-input-span"
          >
            Polje mora da bude popunjeno!</span
          >
        </div>
      </div>
      <div class="input-row">
        <div class="input-container">
          <p class="bold">Moje ime</p>
          <input
            type="text"
            placeholder=""
            class="input"
            formControlName="formMyName"
          />
          <span
            *ngIf="formMyName && formMyName.invalid && formMyName.touched"
            class="wrong-input-span"
          >
            Polje mora da bude popunjeno!</span
          >
        </div>
      </div>

      <div class="input-container">
        <p class="bold">Broj računa</p>
        <input
          type="text"
          placeholder=""
          class="input"
          formControlName="formContact"
        />
        <span
          *ngIf="formContact && formContact.invalid && formContact.touched"
          class="wrong-input-span"
        >
          Polje mora da bude popunjeno i sadržati 16 cifara!
        </span>
      </div>
      


      <div class="buttons">
        <button (click)="cancel()" class="button-cancel">Poništi</button>
        <button (click)="saveContact()" class="button-save" [disabled]="!contactForm.valid">Potvrdi</button>
      </div>
    </div>
  </div>
</form>
</div>
