<div class="page">
  <div class="panel">

    <!-- Dugmad za filtriranje -->
    <button [ngStyle]="{ 'opacity': !stocksFlag ? '0.5' : '1'}" class="stock-button" (click)="switchToStocks()">
      S t o c k s
    </button>
    <button [ngStyle]="{ 'opacity': !futuresFlag ? '0.5' : '1'}" class="future-button" (click)="switchToFutures()">
      F u t u r e s
    </button>
    <button [ngStyle]="{ 'opacity': !forexFlag ? '0.5' : '1'}" class="forex-button" (click)="switchToForex()">
      F o r e x
    </button>

    <!-- Tabela za prikaz podataka -->
    <div class="table">
      <mat-table *ngIf="stocksFlag" [dataSource]="stocks" matSort>

        <ng-container *ngFor="let column of stockColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | uppercase }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                [ngStyle]="{
                  'color': column === 'change' ? (element[column] > 0 ? '#33d17a' : '#ed333b') : 'inherit',
                  'font-weight': column === 'ticker' ? 'bold' : 'normal',
                  'cursor': column === 'ticker' ? 'pointer' : 'default'

                }">
            <ng-container *ngIf="column === 'lastRefresh'">
              {{ element[column] | date: 'dd-MM-yyyy' }}
            </ng-container>
            <ng-container *ngIf="column !== 'lastRefresh' && column !== 'change' && column !== 'ticker'">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf="column === 'ticker'">
              <span (click)="tickerInfo(element['ticker'])">{{ element[column] }}</span>

            </ng-container>
            <ng-container *ngIf="column === 'change' && element['change'] > 0">
              {{ element[column] }} <img [width]="16" [height]="16" src="assets/chart-line-svgrepo-com.svg" />
            </ng-container>
            <ng-container *ngIf="column === 'change' && element['change'] <= 0">
              {{ element[column] }} <img [width]="16" [height]="16" src="assets/chart-line-down-svgrepo-com.svg" />
            </ng-container>
            <ng-container *ngIf="column === 'opcije'">
              <button (click)="sell(element['ticker'])" class="button">Prodaj</button>

              <button (click)="buy(element['ticker'])" class="button">Kupi</button>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="stockColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: stockColumns;"></mat-row>
      </mat-table>
      <mat-table *ngIf="futuresFlag" [dataSource]="futures" matSort>

        <ng-container *ngFor="let column of futureColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | titlecase }}
            <ng-container *ngIf="column === 'id'">
              <img [width]="24" [height]="16" src="assets/arrow-down-arrow-up.svg" />
            </ng-container>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="column === 'dateOfBirth'">
              {{ element[column] | date: 'dd-MM-yyyy' }}
            </ng-container>

            <ng-container *ngIf="column !== 'dateOfBirth'">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf="column === 'roleName'">
              {{ element["role"]?.roleName }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="futureColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: futureColumns;"></mat-row>
      </mat-table>
      <mat-table *ngIf="forexFlag" [dataSource]="forex" matSort>
        <ng-container *ngFor="let column of forexColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | titlecase }}
            <ng-container *ngIf="column === 'id'">
              <img [width]="24" [height]="16" src="assets/arrow-down-arrow-up.svg" />
            </ng-container>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="column === 'dateOfBirth'">
              {{ element[column] | date: 'dd-MM-yyyy' }}
            </ng-container>

            <ng-container *ngIf="column !== 'dateOfBirth'">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf="column === 'roleName'">
              {{ element["role"]?.roleName }}
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="forexColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: forexColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
