<div class="popup-container">
  <h2 class="popup-title">Pregled kupovine</h2>
  <div class="popup-content">
    <p><strong>Odabrana količina hartija:</strong> {{ selectedQuantity }}</p>
    <p><strong>Tip ordera:</strong> {{ selectedOrderType }}</p>
    <p><strong>Približna cena:</strong> {{ estimatedPrice }}</p>
  </div>
  <div class="popup-buttons">
    <button class="confirm-button" (click)="confirm()">Confirm</button>
    <button class="cancel-button" (click)="cancel()">Cancel</button>
  </div>
</div>
