<div class="popup-container">
  <h2 class="popup-title text-center">{{ stock }}</h2>
  <p class="line"></p>
  <div class="popup-content">
    <p class="text-center"><strong>Poruka:</strong></p>
    <div style="text-align: center;">
      <textarea
        class="input"
        [(ngModel)]="message"
        style="display: inline-block; height: 100px; width: 100%;"
      ></textarea>

    </div>

  </div>
  <div class="text-center">
    <button class="myButtonPrimary" (click)="cancel()">Odustani</button>
    <button class="myButtonSecondary" (click)="confirm()">Odbij</button>
  </div>
</div>
