<div class="myContainer">
    <div class="formContainer">
        <div style="width: 100%; margin: 1rem 0rem 1rem 0rem">
            <span class="h3">Prikaz kredita</span>
        </div>
        <div style="margin: 0rem 0rem 0rem 0rem">
            <div class="row">
              <div class="col">
                <p class="bold">User:</p>
                <p class="line">{{ selectedCredit?.user?.firstName + " " + selectedCredit?.user?.lastName}}</p>
              </div>
              <div class="col">
                <p class="bold">Broj telefona:</p>
                <p class="line">{{ selectedCredit?.user?.phoneNumber }}</p>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="bold">Naziv:</p>
                    <p class="line">{{ selectedCredit?.name | uppercase }}</p>
                </div>
                <div class="col">
                    <p class="bold">Broj računa:</p>
                    <p class="line">{{ selectedCredit?.accountNumber }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="bold">Iznos:</p>
                    <p class="line">{{ selectedCredit?.amount }} {{ selectedCredit?.currencyMark }}</p>
                </div>
                <div class="col">
                    <p class="bold">Period otplate:</p>
                    <p class="line">{{ selectedCredit?.paymentPeriod }} meseca</p>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="bold">Status:</p>
                <p class="line">{{ selectedCredit?.status }}</p>
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button *ngIf="selectedCredit?.status === 'PROCESSING'" (click)="approveCredit()" class="myButtonPrimary">Odobri kredit</button>
                <button *ngIf="selectedCredit?.status === 'PROCESSING'" (click)="declineCredit()" class="myButtonSecondary">Odbij</button>
                <button (click)="goBack()" class="myButtonSecondary">Nazad</button>
              </div>
            </div>
        </div>
    </div>
</div>
