<div class="myModalWrapper">
    <div class="myModal">
        <div class="myModalForm">
            <span class="h3">Detalji racuna</span>
            <div class="formWrapper">
                <div class="formGroup">
                    <label for="ownerName">Vlasnik:</label>
                    <input class="inputField rightMargin" type="text" id="ownerName" name="Vlasnik" placeholder="Vlasnik" [(ngModel)]="selectedAccount.ownerName" readonly>
                  </div>
                  <div class="formGroup">
                    <label for="accountNumber">Broj racuna:</label>
                    <input class="inputField" type="text" id="accountNumber" name="Broj racuna" placeholder="Broj racuna" [(ngModel)]="selectedAccount.accountNumber" readonly>
                  </div>
                  <div class="formGroup">
                    <label for="availableBalance">Raspolozivo stanje:</label>
                    <input class="inputField rightMargin" type="text" id="availableBalance" name="Raspolozivo stanje" placeholder="Raspolozivo stanje" [(ngModel)]="selectedAccount.availableBalance" readonly>
                  </div>
                  <div class="formGroup">
                    <label for="type">Tip:</label>
                    <input class="inputField" type="text" id="type" name="Tip" placeholder="Tip" [(ngModel)]="selectedAccount.type" readonly>
                  </div>
                  <div class="formGroup">
                    <label for="accountState">Stanje racuna:</label>
                    <input class="inputField rightMargin" type="text" id="accountState" name="Stanje racuna" placeholder="Stanje racuna" [(ngModel)]="selectedAccount.accountState" readonly>
                  </div>
                  <div class="formGroup">
                    <label for="reservedFunds">Rezervisana sredstva:</label>
                    <input class="inputField" type="text" id="reservedFunds" name="Rezervisana sredstva" placeholder="Rezervisana sredstva" [(ngModel)]="selectedAccount.reservedFunds" readonly>
                  </div>
                            
        </div>
        <div class="accountDetailsButtons">
            <button class="myButtonPrimary" (click)="backToMain()">Nazad</button>
            <button class="myButtonSecondary" (click)="newPayment()">Novo placanje</button>
        </div>
        </div>
    </div>
</div>

<!-- <div class="myModalWrapper currencyConverter">

    <div class="myModal">
        <h3>Menjacnica</h3>
        <div class="converterWrapper">
        <div class="currencyWrapper">
            <select id="currencySelect" [(ngModel)]="selectedCurrency1">
                <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
              </select>
            <input class="inputField" type="text" id="currency1" name="currency1" [(ngModel)]="currency1">
        </div>
        <div class="convertArrow">
            <div class="arrow"></div>
        </div>
        <div class="currencyWrapper">
            <select id="currencySelect" [(ngModel)]="selectedCurrency2">
                <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
              </select>
            <input class="inputField" type="text" id="currency2" name="currency1" [(ngModel)]="currency2">
        </div>
        </div>
        <div class="accountDetailsButtons">
            <button class="myButtonPrimary" (click)="backToMain()">Izvrsi konverziju</button>
        </div>
    </div>

</div> -->

<app-navbar></app-navbar>
<div class="accountsView">
    <div class="container">
      <div class="accountsScroller">
        <span style="text-align: center" class="h2">Pregled racuna</span>
        <div class="selectCardWrapper">
            <div class="arrowWrapper" (click)="previousAccount()">
                <img height="48px" width="48px" class="arrow" src="assets/arrow-left.svg" alt="Next" class="arrow-svg">
            </div>
  
          <!-- Display selected account details -->
          <div class="accountCard" (click)="displayDetails()">
            <div class="cardLogoWrapper">
              <div class="cardLogo"></div>
            </div>
            <div class="cardInfoWrapper">
                <span class="h4">Broj racuna</span>
              <p class="p">{{ selectedAccount.accountNumber }}</p>
              <span class="h4">Raspolozivo stanje</span>
              <p class="p">{{ selectedAccount.availableBalance }} RSD</p>
            </div>
          </div>
  
          <div class="arrowWrapper" (click)="nextAccount()">
            <img height="48px" width="48px" class="arrow" src="assets/arrow-right.svg" alt="Next" class="arrow-svg">
        </div>
        </div>
      </div>
    </div>
  </div>
<div class="transactionView">
    <div class="container">
    <span style="text-align: center" class="h2">Pregled transakcija</span>
    <div class="transactionsWrapper" *ngFor="let transaction of transactions">

        <div class="transactionCard">
        <div class="transactionDetailsWrapper">
          <div class="transactionDate">
                        <!-- Display day -->
                        <div class="day">{{ getDayFromDate(transaction.date) }}</div>
                        <!-- Display month -->
                        <div class="month">{{ getMonthFromDate(transaction.date) }}</div>
                        <!-- Display year -->
                        <div class="year">{{ getYearFromDate(transaction.date) }}</div>
          </div>

          <div class="transactionDetails">
            <p class="h4">Broj racuna:</p>
            <p class="h3">{{ transaction.tradeAccount }}</p>
            <p class="h4">Iznos:</p>
            <span style="text-align: center" class="h2">{{ transaction.amount }} RSD</span>
          </div>
        </div>
          <!-- <div class="transactionIconWrapper">
            <img height="128px" width="128px" class="arrow incoming" src="assets/arrow-left.svg">
          </div> -->
          <div class="transactionIconWrapper">
            <img height="128px" width="128px" class="arrow outgoing" src="assets/arrow-left.svg">
          </div>

        </div>
      </div>
    <!-- <div class="transactionsWrapper">
        <div class="transactionCard">
            <div class="transactionDate">
                <p> 01 Mart 2024</p>
            </div>
            <div class="transactionDetails">
                <p>Broj tekuceg racuna na koji je poslat</p>
                <h3>1,512.00 RSD</h3>
            </div>
        </div>
    </div> -->

</div>

</div>