.formContainer {
    background-color: rgba(230, 230, 230, 0.747);
    border-radius: 3px;
    padding: 2rem 3rem 4rem 3rem;
    margin: 0 auto;
    text-align: justify;
    width:80%;

}
.col-sm{
    padding: 0;
}
.h3 {
    color: var(--blue-dark) !important;;
    font-weight: 700;
}
.container{
    --max-screen-width: 86rem;
}
.logo{
    height: 5rem;
    user-select: none;
}

html {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    object-fit: cover;
}
body{
    background-image: url('../../assets/bg2.jpg');
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
}
.datePick{
  width: 13rem;
  margin:0.5rem;
  border-radius: 0.3rem;
  border:none;
}
